body {
	font-family: sans-serif;
}

.bussines{
    color: #55567b;
    width: 80%;
}

.bussines h1{
    font-size: 40pt;
    color: #55567b;
}

.list-group{
	color: #ffff;
}

.list-group-item{
	font-size: 30pt;
	color: #55567b;
}

.list-group-item a{
	text-decoration: none;
	color: #55567b;
}

.about{
    color: #55567b;
    width: 80%;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ee8373;
}

.about h2{
    font-size: 32pt;
    color: #55567b;
    padding-top: 20px;
    padding-left: 20px;
}

.about h4{
    font-size: 24pt;
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
}

.about article{
    font-size: 22pt;
    color: #fff;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 5px;
}

@media screen and (max-width: 1100px) {
    .bussines{
    width: 100vw;
    }

    .about{
    width: 100vw;
    }

}



/* розовый: #ee8373
фиолетовый: #55567b
темно коричневый: #dbb785
светло коричневый: #faf3b7  */