extends template/main.pug

block styles
    link(rel="stylesheet" href="css/body1.css")
    link(rel="stylesheet" href="css/banner.css")

block content
    div(id = "banner")
        img(src="img/banner1.png" class = "hide")
        img(src="img/banner2.png" class = "hide")
        img(src="img/banner3.png" class = "hide")

    section.history
        h1 История:
        article    
            |Полувековая история "GAS&OIL" - это история развития и 
            |формирования одной из крупнейших нефтяных компаний России. 
            |Эти путь от первых нефтяных фонтанов Ромашки некого 
            |месторождения, давших основание назвать Татарстан «вторым 
            |Баку», до создания акционерного предприятия, способного 
            |продуктивно работать в сложных условиях перехода к 
            |рыночной экономике. За короткий исторический срок 
            |республика стала регионом большой нефти. Все эти годы 
            |неизменными слагаемыми в работе "GAS&OIL" оставались 
            |высокий профессионализм, смелость и взвешенность, умение 
            |мобилизовывать все силы и ресурсы для решения сложнейших 
            |проблем.
            br
            br
            |Историю нефтяной промышленности Татарстана официально 
            |принято считать с 1943 года, когда было открыто 
            |Шугуровское месторождение нефти. Именно здесь на 
            |глубину 648 метров была пробурена скважина № 1.

    section.geography
        h1 География деятельности:
        article 
            |Компания "GAS&OIL" ведет геологическое
            |изучение, разведку и добычу нефти и газа
            |на территории Российской Федерации и за
            |ее пределами. Основная ресурсная база
            |сосредоточена в Татарстане и включает
            |одно из крупнейших в мире месторождений - Ромашкинское.
            |Значительное влияние на успешность бизнеса 
            |Компании оказывают географическая близость
            |нефтяных месторождений,
            |собственные нефтеперерабатывающие и генерирующие
            |мощности, качественная
            |логистика сбыта нефти и
            |продуктов нефтегазопереработки.
            br
            br
            |Транспортировку нефти на экспорт в ближнее и дальнее
            |зарубежье "GAS&OIL" осуществляет через трубопроводы
            |АК "GAS&OIL". 
            br
            br
            |Нефть, направляемая на экспорт, транспортируется по
            |трубопроводу «Дружба», а также отгружается через 
            |российские порты Черного и Балтийского морей.
            br
            br
            |~105 предприятий в составе группы "GAS&OIL"
            br
            br
            |~10 стран присутствия предприятий Компании
            br
            br
            |~50 стран охватывают поставки продукции

    section.strategy
        h1 Стратегия развития
        article 
            |В сентябре 2018 года Советом директоров утверждены 
            |цели Стратегии развития Группы "GAS&OIL" до 2030 года.

            |Успешное достижение бизнес-целей в совокупности позволит в 
            |базовом сценарии, основанном на экономических прогнозах 
            |Правительства Республики Татарстан и Министерства 
            |экономического развития России, увеличить капитализацию 
            |Группы до 36 млрд долларов, обеспечить ежегодную выплату 
            |дивидендов акционерам в соответствии с дивидендной 
            |политикой Компании, сохранить лидерские позиции в области 
            |защиты окружающей среды, развития человеческого капитала.

        p Ключевые параметры Стратегии:
            ul
                li 
                    |до 38,4 млн тонн в год
                    |увеличение добычи нефти к 2030 году при 100% 
                    |восполнении запасов.

                li 
                    |до 15,3
                    |млн тонн в год
                    |поэтапное увеличение объема переработки нефти 
                    |при обеспечении наибольшего экономического эффекта 
                    |от эксплуатации комплекса ТАНЕКО.  

                li 
                    |1-й этап выполнения строительства объектов 
                    |нового газонефтехимического комплекса.  


block body-scripts   
    script(src= "js/banner.js")