extends ../main_pug/main.pug

block styles
    link(rel="stylesheet" href="css/body4.css")

block content
    section.bussines.mx-auto.text-center
    h1 Бизнес - направления
    ol.list-group.list-group-flush.list-group-numbered
        li.list-group-item.mx-auto
            a(href='#one') Разведка и добыча
        li.list-group-item.mx-auto
            a(href='#two') Нефтегазопереработка
        li.list-group-item.mx-auto
            a(href='#three') Сеть АЗС GAS&OIL
        li.list-group-item.mx-auto
            a(href='#four') Энергетика

    section.about.mx-auto
        p
            a(name='one')
        h2 Разведка и добыча
        article     
            |"GAS&OIL" ведет разведку и добычу на одном из 
            |крупнейших в мире месторождений - Ромашкинском. 
            |К крупным месторождениям Компании также относятся 
            |Ново-Елховское, Бавлинское, Бондюжское, Первомайское, 
            |Сабанчинское, Архангельское, Ашальчинское.
            br
            br
            |За пределами Татарстана разведка и добыча ведутся на 
            |территориях Ненецкого АО, Ульяновской, Самарской, О
            |ренбургской областей, Республики Калмыкия.
            br
            br
            |1,2 млрд.тонн запасы углеводородов
            br
            br
            |млн.тонн
            |добыча нефти в 2021 г.
            br
            br
            |839,9
            |млн.тонн
            |доказанные запасы
            br
            br
            |831,4
            |млн.м3
            |добыча газа за 2020 г.
            br
            br
            |"GAS&OIL" обладает уникальными компетенциями в разработке и 
            |добыче сверхвязкой нефти. Ежегодная добыча СВН в Компании 
            |превышает 3 миллиона тонн.
            br
            br
            |В рамках реализации производственных программ "GAS&OIL"
            |ведет работы по различным направлениям деятельности в Казахстане, 
            |Туркменистане, Узбекистане, Ливии и Сирии.

        br
        br
        br
        br
        br
        br
        br
        br

        p   
            a(name='two')
        h2 Нефтегазопереработка
        h4 Нефтеперерабатывающий комплекс «ТАНЕКО»
        article
            |«ТАНЕКО» – современный нефтеперерабатывающий комплекс, на котором 
            |внедрены передовые технологические решения, обеспечивающие высокую 
            |эффективность производства.
            br 
            br
            |Строительство «ТАНЕКО» было инициировано с целью качественного укрепления 
            |отрасли и формирования новых мощностей по производству нефтепродуктов с 
            |улучшенными экологическими и эксплуатационными свойствами. Это первый НПЗ,
            |построенный с нуля на постсоветском пространстве. Наилучшие доступные 
            |технологии позволяют наращивать объем переработки нефти и минимизировать
            |воздействие на окружающую среду.
            br 
            br
            |Стратегия импортозамещения, используемая при реализации проекта «ТАНЕКО», 
            |способствует развитию научных, проектных, строительных компаний, росту
            |отечественной промышленности и повышению ее конкурентоспособности. Уровень
            |использования оборудования с внутреннего рынка составляет 90 %.
            br 
            br
            |В ходе строительства «ТАНЕКО» новые компетенции появились в активе 
            |"GAS&OIL". Компания способна реализовать проект нефтегазопереработки,
            |начиная от проектирования, организации строительства, комплектации 
            |и поставки оборудования до ввода в эксплуатацию. 
            br 
            br 

            p Компетенции:
                ul 
                    li атмосферно-вакуумная разгонка нефти;
                    li очистка нефтепродуктов от серы;
                    li замедленное коксование;
                    li система управления процессами.

            p Собственный EPC-подрядчик: 
                ul 
                    li проектирование;
                    li изготовление и поставка оборудования;
                    li строительство и монтаж;
                    li пусконаладка.
        
        br
        br
        br
        br
        br
        br
        br
        br

        p 
            a(name='three')
        h2 Сеть АЗС GAS&OIL
        article 
            |Сеть автозаправочных станций "GAS&OIL" по состоянию 
            |на 1 августа 2022 года насчитывает 790 станций, в том числе 
            |770 – в Российской Федерации, 18 – в Беларуси и 2 – в Узбекистане.
            br 
            br
            |Предприятия рознично-сбытового блока "GAS&OIL" демонстрируют 
            |высокие показатели эффективности и являются лидерами на многих 
            |региональных рынках страны. На автозаправочных станциях Компании 
            |применяются передовые энерго-ресурсосберегающие технологии, направленные 
            |на сохранение и улучшение экологии.
            br 
            br
            |Реализация топлива и сопутствующих товаров широкого спектра, 
            |оказание услуг на высоком уровне – основные приоритеты деятельности 
            |АЗС "GAS&OIL". Гарантированное высокое качество нефтепродуктов 
            |на автозаправочных станциях обеспечивается неукоснительным соблюдением 
            |технологической дисциплины и требований нормативных документов при приеме, 
            |хранении, транспортировке и отпуске нефтепродуктов.
            br 
            br
            |В настоящее время реализуется программа переформатирования 
            |автозаправочных станций "GAS&OIL" с расширением магазинов, 
            |предлагающих широкий ассортимент товаров, а также услуг 
            |сопутствующего сервиса. Здесь клиенты могут подкрепиться после 
            |долгой дороги в уютном кафе, в котором можно приобрести горячие 
            |блюда, вкуснейшую национальную выпечку и ароматный зерновой кофе.
            br 
            br
            p Для комфорта водителей организованы экспресс-услуги, оказываемые в зависимости от сезона и времени суток:
                ul
                    li услуги заправщика;
                    li самостоятельная проверка и регулировка давления в шинах;
                    li бесплатный инвентарь для протирки стекол, фар и номерных знаков;
                    li пылесос для самостоятельной уборки в салоне автомобиля.
          
            br 
            br 
            p Повышению лояльности клиентов способствуют сервисы обратного взаимодействия:
                ul 
                    li автоматизированная система управления обращениями клиентов позволяет оперативно реагировать на запросы и жалобы;
                    li поддерживается общение с клиентами на современных и удобных для клиентов площадках коммуникаций 

        br
        br
        br
        br
        br
        br
        br
        br

        p 
            a(name='four')
        h2 Энергетика
        article 
            |В энергетический комплекс Компании входят Центр управления сетями, 
            |Нижнекамская ТЭЦ и Альметьевское предприятие тепловых сетей (АПТС). 
            ||Наличие собственных генерирующих активов и распределительных сетей 
            |обеспечивает надежность энергоснабжения нефтедобывающих, нефтеперерабатывающих 
            ||и нефтехимических мощностей Компании, бесперебойную поставку электроэнергии 
            |потребителям юго-востока Республики Татарстан, позволяет сдерживать рост 
            |тарифов на тепловую энергию.
            br 
            br
            |Основой эффективности Компании является энергосбережение. 
            |Цель программы повышения энергетической эффективности и
            |энергосбережения – сдерживание роста затрат на топливно-энергетические
            |ресурсы (ТЭР) за счет применения современных энергоэффективных технологий
            |и оборудования, рационального использования ТЭР.
            br 
            br
            |Установленная электрическая мощность генерирующих предприятий 
            |Группы "GAS&OIL" составляет 748 МВт, тепловая мощность – 2272,5 Гкал/час.
            br 
            br
            |В объеме энергохозяйства ПАО "GAS&OIL" находится 17694
            |подстанций различных типов и напряжений.
            br 
            br
            |Общая протяженность воздушных линий 6-220 кВ составляет 
            |16823,0 км.
            br 
            br
            |Предприятия Группы "GAS&OIL" потребляют около 20% от 
            |общего потребления Республики Татарстан. Общий годовой объем 
            |потребления электрической энергии Группой "GAS&OIL" составляет
            |более 6 млрд. кВт.ч.

