extends template/main.pug

block styles
    link(rel="stylesheet" href="css/body2.css")

block content
    section.directors.text-center
        h1 Совет Директоров:
        img.mx-auto.d-block.imageBody(src='img/Directors1.png')
        br
        img.mx-auto.d-block.imageBody(src='img/Directors2.png ')
        h1 Уставы:

    section.ystav.text-center.mx-auto
        br
        a(href='files/Устав акционерного общества 2022.pdf' download='') Устав акционерного общества 2022
        br
        a(href='files/Положение об собрании.pdf' download='') Положение об собрании
        br
        br
    br
    br
