extends template/main.pug

block styles
    link(rel="stylesheet" href="../css/body3.css")

block content
    p.fs-1.text-center Акционерам:
    article.mx-auto 
        |Общее собрание акционеров является высшим органом управления 
        |ПАО "GAS&OIL" и действует в соответствии с нормативными 
        |правовыми актами Российской Федерации, Уставом Общества и 
        |Положением об общем собрании акционеров ПАО "GAS&OIL".
        br  
        br
        |Общее собрание может быть годовым или внеочередным. 
        |Годовое общее собрание проводится ежегодно не ранее 
        |чем через два и не позднее чем через шесть месяцев после 
        |окончания финансового года. На годовом общем собрании в 
        |обязательном порядке рассматриваются вопросы об избрании 
        |членов Совета директоров и ревизионной комиссии, утверждении 
        |аудитора, утверждении годового отчета, годовой бухгалтерской 
        |отчетности, в том числе отчета о прибылях и убытках Общества, 
        |распределении прибыли, в том числе выплаты (объявления) 
        |дивидендов, и убытков по результатам финансового года.
        br
        br
        |Внеочередное общее собрание может быть созвано в любое 
        |время по решению Совета директоров Общества, которое 
        |принимается на основании его собственной инициативы, 
        |требованию ревизионной комиссии Общества, аудитора Общества, 
        |а также акционеров (акционера), владеющих не менее чем 10 
        |процентами голосующих акций Общества.
    
    p.fs-2.text-center К собранию акционеров ПАО "GAS&OIL" 15.09.2022:
    section.toMeeting.text-center.mx-auto
        a(href='../files/Рекомендации СД о размере дивидендов.docx' download='') Рекомендации СД о размере дивидендов
    
    p.fs-2.text-center К собранию акционеров ПАО "GAS&OIL" 15.08.2022:
    section.toMeeting.text-center.mx-auto
        a(href='../files/Отчет об итогах голосования.docx' download='') Отчет об итогах голосования
    
    p.fs-2.text-center К собранию акционеров ПАО "GAS&OIL" 15.07.2022:
    section.toMeeting.text-center.mx-auto
        a(href='../files/Проект решений.docx' download='') Проект решений
